<!-- prettier-ignore -->
{% extends "admin/admin-template.html" %} 

{% block title %}- Brand{% endblock %} 

{% block upcontainer %}
<div class="fixed z-50 w-full hidden" id="image-view">
  <div class="bg-black bg-opacity-30">
    <div class="flex justify-center items-center min-h-screen">
      <div class="relative sm:w-96 lg:w-2/4">
        <button class="absolute right-0 p-4 text-black" id="hide-modal">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"
            />
          </svg>
        </button>
        <img
          src="/media/band-cover/762de3c519564779a0d84808aa6000f8.jpg"
          alt=""
          id="modal-image"
        />
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block content %}

<div class="card bg-base-100 w-full shadow-xl">
  <div class="card-body">
    <h2 class="card-title">BAND</h2>
    <form method="post" enctype="multipart/form-data">
      <input type="hidden" name="id" id="input-band-id" />
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Band Name</span>
        </div>
        <input
          type="text"
          id="input-band-name"
          class="input input-bordered w-full"
          name="name"
          placeholder="Band name"
        />
      </label>
      <label class="form-control">
        <div class="label">
          <span class="label-text">Band Description</span>
        </div>
        <textarea
          id="input-band-description"
          class="textarea textarea-bordered h-24"
          name="description"
          placeholder="Band description"
        ></textarea>
      </label>
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Band Spotify Link</span>
        </div>
        <input
          type="text"
          id="input-band-spotify"
          class="input input-bordered w-full"
          name="spotify"
          placeholder="Band spotify link"
        />
      </label>
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Band Instagram Link</span>
        </div>
        <input
          type="text"
          id="input-band-instagram"
          class="input input-bordered w-full"
          name="instagram"
          placeholder="Band instagram link"
        />
      </label>
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Band Cover</span>
        </div>
        <input
          type="file"
          id="input-band-cover"
          name="cover"
          class="file-input file-input-bordered file-input-primary w-full"
          accept="image/*"
        />
      </label>
      <div id="edit-image"></div>
      <div class="card-actions justify-end mt-8">
        <button
          class="btn btn-primary"
          value="add"
          name="button-form"
          id="button-form"
        >
          Submit
        </button>
        <button class="btn btn-error" type="reset" id="button-reset">
          Reset
        </button>
      </div>
    </form>
  </div>
</div>
<div class="card bg-base-100 w-full shadow-xl mt-3">
  <div class="card-body">
    <div class="overflow-x-auto">
      <table
        class="table table-zebra table-pin-rows min-w-full"
        id="band-table"
      >
        <thead>
          <tr>
            <th>#</th>
            <th>Cover</th>
            <th>Name</th>
            <th>Description</th>
            <th>Accounts</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for band in bands %}
          <tr>
            <th class="min-w-12 lg:min-w-full lg:w-12">{{ loop.index }}</th>
            <!-- <td><img src="/{{ band.cover }}" class="max-w-sm rounded-lg shadow-2xl"/></td> -->
            <td width="2">
              <button
                class="btn btn-primary"
                id="show-modal"
                data-src="/{{ band.cover }}"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  strokeWidth="{1.5}"
                  stroke="currentColor"
                  className="size-6"
                >
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                  />
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                  />
                </svg>
              </button>
              <!-- <a
                class="btn btn-primary"
                href="/{{ band.cover }}"
                target="_blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  strokeWidth="{1.5}"
                  stroke="currentColor"
                  className="size-6"
                >
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                  />
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                  />
                </svg>
              </a> -->
            </td>
            <td class="min-w-44 lg:min-w-full lg:w-44">{{ band.name }}</td>
            <td width="6">
              <div
                class="w-60 lg:w-full max-h-20 overflow-y-scroll overflow-x-hidden"
              >
                {{ band.description }}
              </div>
            </td>
            <!-- <td>{{ band.spotify }}{{ band.instagram }}</td> -->
            <td class="min-w-36 lg:min-w-full lg:w-36">
              <div class="join gap-4">
                <a
                  href="{{ band.instagram }}"
                  target="_blank"
                  class="join-item"
                >
                  <img
                    src="{{ url_for('static', filename='images/instagram.png') }}"
                    alt=""
                    class="aspect-square size-12"
                  />
                </a>
                <a href="{{ band.spotify }}" target="_blank" class="join-item">
                  <img
                    src="{{ url_for('static', filename='images/spotify.png') }}"
                    alt=""
                    class="aspect-square size-12"
                  />
                </a>
              </div>
            </td>
            <td width="4">
              <div class="join">
                <button
                  class="btn btn-primary join-item"
                  id="button-edit"
                  data-id="{{ band.id }}"
                  data-name="{{ band.name }}"
                  data-description="{{ band.description }}"
                  data-spotify="{{ band.spotify }}"
                  data-instagram="{{ band.instagram }}"
                  data-cover="{{ band.cover }}"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                    />
                  </svg>
                </button>
                <form action="#" method="post">
                  <input type="hidden" name="id" value="{{ band.id }}" />
                  <button
                    class="btn btn-error join-item"
                    name="button-form"
                    value="delete"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                      />
                    </svg>
                  </button>
                </form>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="join mx-auto">
      <input
        class="join-item btn btn-square"
        type="radio"
        name="options"
        aria-label="1"
        checked="checked"
      />
      <input
        class="join-item btn btn-square"
        type="radio"
        name="options"
        aria-label="2"
      />
      <input
        class="join-item btn btn-square"
        type="radio"
        name="options"
        aria-label="3"
      />
      <input
        class="join-item btn btn-square"
        type="radio"
        name="options"
        aria-label="4"
      />
    </div>
  </div>
</div>
<!-- prettier-ignore -->
{% endblock %} 

{% block script %}
<script>
  const inputBandId = document.getElementById("input-band-id");
  const inputBandName = document.getElementById("input-band-name");
  const inputBandDescription = document.getElementById(
    "input-band-description"
  );
  const inputBandSpotify = document.getElementById("input-band-spotify");
  const inputBandInstagram = document.getElementById("input-band-instagram");
  const inputBandCover = document.getElementById("input-band-cover");
  const editImage = document.getElementById("edit-image");
  const modalImageView = document.getElementById("image-view");
  const modalImage = document.getElementById("modal-image");
  const buttonHideModal = document.getElementById("hide-modal");
  // const buttonShowModal = document.getElementById("show-modal");
  const buttonShowModal = document.querySelectorAll("#show-modal");
  const buttonReset = document.getElementById("button-reset");
  const buttonForm = document.getElementById("button-form");
  const buttonEdit = document.getElementById("button-edit");
  const contaienr = document.getElementById("container");

  inputBandCover.addEventListener("change", (event) => {
    editImage.replaceChildren();
    let image = document.createElement("img");
    image.classList.add("max-w-44");
    image.classList.add("aspect-auto");
    image.classList.add("mx-auto");
    image.classList.add("mt-10");
    // console.log(URL.createObjectURL(event.srcElement.files[0]));
    image.src = URL.createObjectURL(event.srcElement.files[0]);

    // image.src = "/" + buttonEdit.dataset.cover;
    editImage.appendChild(image);
  });

  buttonEdit.addEventListener("click", (event) => {
    inputBandId.value = buttonEdit.dataset.id;
    inputBandName.value = buttonEdit.dataset.name;
    inputBandName.focus();
    inputBandDescription.value = buttonEdit.dataset.description;
    inputBandSpotify.value = buttonEdit.dataset.spotify;
    inputBandInstagram.value = buttonEdit.dataset.instagram;
    // inputBandCover.file = buttonEdit.dataset.cover;
    editImage.replaceChildren();
    let image = document.createElement("img");
    image.src = "/" + buttonEdit.dataset.cover;
    image.classList.add("max-w-60");
    image.classList.add("aspect-auto");
    image.classList.add("mx-auto");
    image.classList.add("mt-10");
    editImage.appendChild(image);
    buttonForm.value = "edit";
    buttonForm.innerHTML = "Edit";
  });

  buttonReset.addEventListener("click", (event) => {
    event.preventDefault();
    editImage.replaceChildren();
    inputBandId.value = "";
    buttonForm.value = "";
    buttonForm.innerHTML = "Submit";
    event.target.form.reset();
  });

  buttonShowModal.forEach((e) => {
    e.addEventListener("click", (event) => {
      modalImage.src = event.currentTarget.dataset.src;
      modalImageView.classList.remove("hidden");
      container.classList.add("overflow-hidden");
    });
  });

  buttonHideModal.addEventListener("click", (event) => {
    modalImageView.classList.add("hidden");
    container.classList.remove("overflow-hidden");
  });
</script>
{% endblock %}
