<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/simple-datatables@9.2.1/dist/style.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='css/daisyui/css/full.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <script src="{{ url_for('static', filename='js/tailwind/tailwind.js') }}"></script>
  </head>
  <body>
    <form action="#" method="post">
      <textarea name="texarea" id=""></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>